@tailwind base;
@tailwind components;
@tailwind utilities;

.viewer {
  margin: 20px auto;
  border-radius: 2px;
  max-width: 1100px;
  color: #000;
  position: relative;
  line-height: 1.7;
  font-weight: 400;
}

.change {
  @apply rounded bg-blue-500 hover:bg-blue-400 py-1 px-2 text-white;
}
